.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
}

.wizard {
  position: absolute;
  width: 100px; 
  transition: top 3.5s, left 3.5s; 
}

.right {
  transform: scaleX(-1);
}

.left {
  transform: scaleX(1);
}
